html {
	line-height: 1.2;
}

body,
h1,
h2,
h3,
h4,
ul,
li {
	padding: 0;
	margin: 0;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #333;
}

img {
	vertical-align: top;
}

* {
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

input {
	appearance: none;
	-webkit-appearance: none;
}
